<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="modules/sys/fragments/manageModel">
<head>
    <title>牵狗狗逛街</title>
    <link rel="stylesheet" href="/assets/elementUI/theme-default/table.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/input.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/button.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/dialog.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/notification.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/icon.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/switch.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/upload.css">

    <style>
        input.el-upload__input {
            display: none;
        }
    </style>
</head>
<body th:fragment="content">
    <div id="app">
        <section class="content-header">
            <h1>
                发布文章
                <small>预览页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 发布文章</a></li>
                <li class="active">发布文章</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">编写文章</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题*</label>
                                <input type="text" class="form-control" id="title" placeholder="请输入标题" v-model="title" />
                            </div>
                            <div class="form-group">
                                <label>标签</label>
                                <select class="form-control select2" multiple="multiple" data-placeholder="请选择标签"
                                        style="width: 100%;"  id="mult" v-model="labelSelected">

                                    <option v-for="option in allLabel" v-bind:value="option.id" >
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>分类</label>
                                <select class="form-control select2" style="width: 100%;" v-model="typeSelected"
                                        data-placeholder="请选择类别" id="typeSelected">
                                    <option v-for="option in allType" v-bind:value="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-app" style="margin-left: 0px; margin-right: 10px;" @click="layerBgImage()">
                                    <span class="badge bg-green">300</span>
                                    选择信纸
                                    <i class="fa fa-barcode"></i>
                                </a>
                                <a  id="showBG" style="margin-left: 0px;">

                                </a>
                                <input type="hidden" id="bgImagesSelectedID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <textarea id="editor"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        是否公开:
                        <el-switch v-model="isPublic" on-color="#13ce66" off-color="#ff4949" :disabled="true">
                        </el-switch>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        是否开启评论:
                        <el-switch v-model="isDiscuss" on-color="#13ce66" off-color="#ff4949" :disabled="true">
                        </el-switch>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <el-upload class="upload-demo" action="/manage/write/addAccessory" :on-preview="handleFilePreview" :on-success="handlerFileSuccess" :on-remove="handleFileRemove" :file-list="fileList">
                        <el-button size="small" type="primary">附件上传</el-button>
                        <div slot="tip" class="el-upload__tip"></div>
                    </el-upload>
                </div>
            </div>
            <div class="row">
                <div class="pull-right" style="margin:0px 50px 0px 10px;" >
                    <el-button :plain="true" type="success"  @click="submitArticle();">发布文章</el-button>
                </div>
                <div class="pull-right" style="margin:0px 10px;" >
                    <el-button :plain="true" type="info" :disabled="true" @click="saveDraft();">存为草稿</el-button>
                </div>
                <div class="pull-right" style="margin:0px 10px;" >
                    <el-button :plain="true" type="warning" @click="returnList();">返回列表</el-button>
                </div>
            </div>

        </section>

    </div>
</body>
<script type='text/javascript' src="/assets/elementUI/index.js"></script>
<script type='text/javascript' src="/assets/select2/js/select2.full.min.js"></script>
<script type='text/javascript' src="/assets/ckeditor/ckeditor.js"></script>
<script type='text/javascript' src="/assets/layer/layer.js"></script>
<script th:src="@{/assets/jquery/jquery.tips.js}"></script>
<script type='text/javascript' th:inline="javascript">


    $(function () {
        $('.select2').select2();
    });
    var v = new Vue({
        el:'#app',
        data:{
            id:[[${article.id}]],
            labelSelected:'',
            typeSelected:[[${article.type.id}]],
            allLabel:[[${label}]],
            allType:[[${types}]],
            isPublic:[[${article.publicity}]],
            isDiscuss:[[${article.discuss}]],
            title:[[${article.title}]],
            fileList:[]
        },
        methods:{
            //显示信纸
            layerBgImage:function () {
                layer.open({
                    type: 2,
                    title: '信纸',
                    shadeClose: false,
                    shade: 0.3,//遮罩层程度
                    area: ['80%', '90%'],
                    btn: ['确定', '取消'], //只是为了演示
                    btn1: function(){
                        layer.closeAll();
                    },
                    btn2: function(){
                        $("#showBG").html('');
                        $("#bgImagesSelectedID").val('');
                    },
                    content: '/manage/images/showBgImages'    //显示内容
                });
            },
            //发布文章
            submitArticle:function () {
                var content = CKEDITOR.instances.editor.getData();
                var bgValue= $("#bgImagesSelectedID").val();
                subArticle(true,content,bgValue);//提交，暂不考虑草稿
            },
            isDefaultSelect:function (ob, array) {
                return false;
            },
            handleFileRemove:function (file, fileList) {
                //删除附件中其他已经上传的信息
                v.fileList.splice(0,v.fileList.length);
            },
            handleFilePreview:function (file) {
                console.log(file);
                console.log(v.fileList);
            },
            //附件上传成功
            handlerFileSuccess:function (response, file, fileList) {
                //删除附件中其他已经上传的信息
                v.fileList.splice(0,v.fileList.length);
                //上传该文件信息
                var ele={name:file.name,url:file.response.msg};
                v.fileList.push(ele);
            }
        }
    });
    setDefaultValue();
    //设置默认值
    function setDefaultValue() {
//        console.log([[${article.content}]]);
        //内容
        $('#editor').html([[${article.content}]]);
        /*var editor = CKEDITOR.replace("editor");
        editor.setData([[${article.content}]]);*/

        //图片
        var bgInfo=[[${article.bgImages}]];
        if(bgInfo!=null&&bgInfo!=''){
            $("#showBG").html('<img src='+bgInfo.url+' width="78px" height="58px" style="border-radius: 8px;" />');
            $("#bgImagesSelectedID").val(bgInfo.id);
        }

        //附件内容显示
        var accessory=[[${article.accessory}]];
        if(accessory!=null){
            var last=accessory.lastIndexOf("/")+1;
            var name=accessory.substring(last);
            //设置
            var ele={name:name,url:name};
            v.fileList.push(ele);

        }
        //多选
        var selLabelArr=[[${article.labels}]];
        var need=[];
        for(var i=0;i<selLabelArr.length;i++){
            need.push(selLabelArr[i].id);
        }
        v.labelSelected=need;
    }


    //iframe设置图片信息
    function setImage(url) {
        $("#showBG").html('');
        $("#showBG").html('<img src='+url+' width="78px" height="58px" style="border-radius: 8px;" />');
    }

    function setImageValue(imageId) {
        //设置值
        $("#bgImagesSelectedID").val(imageId);
        
    }


    //提交
    function subArticle(subType,content,bgId) {
        var dataOp={
            id: v.id,
            title: v.title,
            content:content,
            type:{
                id: v.typeSelected
            },
            labels:v.typeSelected,
            status:subType,
            discuss: v.isDiscuss,
            publicity: v.isPublic,
            bgImages:{
                id:bgId
            }
        };
        if(bgId==null||bgId==''){
            dataOp.bgImages=null;
        }
        //设置附件
        if(v.fileList!=null&&v.fileList.length!=0){
            //去掉前缀
            var accessory=v.fileList[0].url;
            if(accessory!=null&&accessory.indexOf("/")!=-1){
                var last=accessory.lastIndexOf("/")+1;
                accessory=accessory.substring(last);
            }
            dataOp.accessory=accessory;
        }

        //对2个下拉框设置参数
        var array=[];
        $("#mult option:selected").each(function(){
            var objLabel={id:$(this).val()};
            array.push(objLabel);
        });
        dataOp.labels=array;
        v.typeSelected=$("#typeSelected option:selected").val();
        dataOp.type.id=v.typeSelected;
        //校验
        var isUp=submitVerify(array);
        if(!isUp){
            return;
        }

        //提交修正
        v.$http.post(
            '/manage/article/edit',
            dataOp
        ).then(
            function(response){
                if(response.data.result){
                    //跳转到当前页面
                    window.location.href="/manage/write/toWrite";
                    this.$notify({
                        title: '信息',
                        message: '上传成功',
                        type: 'info'
                    });
                }
            }
        );
    }

    //集成ckeditor 并添加图片上传到服务器功能
    CKEDITOR.replace('editor',{
        filebrowserImageUploadUrl: '/manage/images/ckeditor-upload-image'
    });

    //提交前校验
    function submitVerify(array) {
        var start=true;

        if(v.title==''){
            $("#title").tips({
                side : 1,
                msg : '不能为空',
                bg : '#FF5080',
                time : 3
            });
            start=false
        }
        if(array==''){
            $("#mult").tips({
                side : 1,
                msg : '不能为空',
                bg : '#FF5080',
                time : 3
            });
            start=false
        }
        if(v.typeSelected==''||typeof(v.typeSelected)=="undefined"){
            $("#typeSelected").tips({
                side : 1,
                msg : '不能为空',
                bg : '#FF5080',
                time : 3
            });
            start=false
        }
        return start;
    }

</script>
</html>