<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="modules/sys/fragments/manageModel">
<head>
    <title>牵狗狗逛街</title>
    <link rel="stylesheet" href="/assets/elementUI/theme-default/table.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/input.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/button.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/dialog.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/notification.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/icon.css">
    <link rel="stylesheet" href="/assets/elementUI/theme-default/switch.css">

</head>
<body th:fragment="content">
    <div id="app">
        <section class="content-header">
            <h1>
                发布文章
                <small>预览页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 发布文章</a></li>
                <li class="active">发布文章</li>
            </ol>
        </section>
        <section class="content">
            <validator name="validatorMethod">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">编写文章</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题*</label>
                                <input type="text" class="form-control" id="title" placeholder="请输入标题" v-model="title" v-validate:title="['title']"/>
                            </div>
                            <div class="form-group">
                                <label>标签</label>
                                <select class="form-control select2" multiple="multiple" data-placeholder="请选择标签"
                                        style="width: 100%;"  id="mult" >
                                    <option v-for="option in allLabel" v-bind:value="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>分类</label>
                                <select class="form-control select2" style="width: 100%;" v-model="typeSelected"
                                        data-placeholder="请选择类别" id="typeSelected">
                                    <option v-for="option in allType" v-bind:value="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-app" style="margin-left: 0px; margin-right: 10px;" @click="layerBgImage()">
                                    <span class="badge bg-green">300</span>
                                    选择信纸
                                    <i class="fa fa-barcode"></i>
                                </a>
                                <a  id="showBG" style="margin-left: 0px;">

                                </a>
                                <input type="hidden" id="bgImagesSelectedID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <textarea id="editor"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        是否公开:
                        <el-switch v-model="isPublic" on-color="#13ce66" off-color="#ff4949" :disabled="true">
                        </el-switch>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        是否开启评论:
                        <el-switch v-model="isDiscuss" on-color="#13ce66" off-color="#ff4949" :disabled="true">
                        </el-switch>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-right" style="margin:0px 50px 0px 10px;" >
                    <el-button :plain="true" type="success" @click="submitArticle();">发布文章</el-button>
                </div>
                <div class="pull-right" style="margin:0px 10px;" >
                    <el-button :plain="true" type="info" :disabled="true" @click="saveDraft();">存为草稿</el-button>
                </div>
                <div class="pull-right" style="margin:0px 10px;" >
                    <el-button :plain="true" type="warning" @click="returnList();">返回列表</el-button>
                </div>
            </div>
            </validator>
        </section>

    </div>
</body>
<script type='text/javascript' src="/assets/elementUI/index.js"></script>
<script type='text/javascript' src="/assets/select2/js/select2.full.min.js"></script>
<script type='text/javascript' src="/assets/ckeditor/ckeditor.js"></script>
<script type='text/javascript' src="/assets/layer/layer.js"></script>
<script type='text/javascript' th:inline="javascript">

    $(function () {
        $('.select2').select2();
    });
    var v = new Vue({
        el:'#app',
        data:{
            labelSelected:'',
            typeSelected:'',
            allLabel:[[${label}]],
            allType:[[${types}]],
            isPublic:true,
            isDiscuss:false,
            title:''
        },
        validators:{
            title:function (val) {
                alert("!");

            }
        },
        methods:{
            //显示信纸
            layerBgImage:function () {
                layer.open({
                    type: 2,
                    title: '信纸',
                    shadeClose: false,
                    shade: 0.3,//遮罩层程度
                    area: ['80%', '90%'],
                    btn: ['确定', '取消'], //只是为了演示
                    btn1: function(){
                        layer.closeAll();
                    },
                    btn2: function(){
                        $("#showBG").html('');
                        $("#bgImagesSelectedID").val('');
                    },
                    content: '/manage/images/showBgImages'    //显示内容
                });
            },
            //发布文章
            submitArticle:function () {
                var self = this;
                var content = CKEDITOR.instances.editor.getData();
                var bgValue= $("#bgImagesSelectedID").val();

                self.$validate(true,function () {
                    /*如果所有条件都是false*/
                    if(!self.$validatorMethod.invalid){
                        alert("登录成功");
                    }else {
                        alert("sb");
                    }
                });
                return;

                subArticle(true,content,bgValue);//提交，暂不考虑草稿
            }
        }
    });

    //iframe设置图片信息
    function setImage(url) {
        $("#showBG").html('');
        $("#showBG").html('<img src='+url+' width="78px" height="58px" style="border-radius: 8px;" />');
    }

    function setImageValue(imageId) {
        //设置值
        $("#bgImagesSelectedID").val(imageId);
        
    }


    //提交
    function subArticle(subType,content,bgId) {
        var dataOp={
            title: v.title,
            content:content,
            type:{
                id: v.typeSelected
            },
            status:subType,
            discuss: v.isDiscuss,
            publicity: v.isPublic,
            bgImages:{
                id:bgId
            }
        };
        if(bgId==null||bgId==''){
            dataOp.bgImages=null;
        }

        //对2个下拉框设置参数
        var array=[];
        $("#mult option:selected").each(function(){
            var objLabel={id:$(this).val()};
            array.push(objLabel);
        });
        dataOp.labels=array;
        v.typeSelected=$("#typeSelected option:selected").val();
        dataOp.type.id=v.typeSelected;

        v.$http.post(
            '/manage/article/add',
            dataOp
        ).then(
            function(response){
                console.log(response);
                if(response.data.result){
                    //跳转到当前页面
                    window.location.href="/manage/write/toWrite";
                    this.$notify({
                        title: '信息',
                        message: '上传成功',
                        type: 'info'
                    });
                }
            }
        );
    }

    //集成ckeditor 并添加图片上传到服务器功能
    CKEDITOR.replace('editor',{
        filebrowserImageUploadUrl: '/manage/images/ckeditor-upload-image'
    });
    
    

</script>
</html>