<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>牵狗狗逛街</title>
    <meta name="keywords" content="个人博客" />
    <meta name="description" content="" />
    <link href="/assets/show/css/base.css" rel="stylesheet">
    <link href="/assets/show/css/mood.css" rel="stylesheet">
    <link href="/assets/elementUI/theme-default/tag.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/assets/show/js/modernizr.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <![endif]-->
</head>
<body>
<div id="app" >
    <header>

        <nav class="topnav" id="topnav">
            <a href="/show/index">
                <span>首页</span>
                <span class="en">home</span>
            </a>
            <a href="/show/allArticles">
                <span>文章</span>
                <span class="en">article</span>
            </a>
            <a href="/show/showTypeList">
                <span>分类</span>
                <span class="en">categories</span>
            </a>
            <a href="#">
                <span>标签</span>
                <span class="en">Doing</span>
            </a>
            <a href="/manage/toMain">
                <span>首长登陆</span>
                <span class="en">login</span>
            </a>
            <a href="#">
                <span>about</span>
                <span class="en">about</span>
            </a>
        </nav>
        </nav>
    </header>
    <div class="moodlist">
        <h1 class="t_nav"><span>删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span><a href="/show/index" class="n1">首页</a><a href="#" class="n2">文章列表</a></h1>
        <div class="bloglist">
            <ul class="arrow_box" v-for="(item,key) in list">
                <div class="sy" v-for="(it,itKey) in item">
                    <div style="float: left;padding-left: 10px;"><a :href="'/show/specifiedArticle/'+it.id" ><h2 v-text="it.title"></h2></a></div>
                    <div style="clear:both"></div>
                    <div style="float: right;padding-right: 10px;margin-bottom: 5px;">
                        <a :href="'/show/showTypeList/#'+it.type.id">
                            <el-tag type="primary">{{it.type.name}}</el-tag>
                        </a>
                    </div>
                    <div v-if="itKey+1!=item.length">
                        <div style="clear:both;border-bottom:1px dashed #CCCCCE;margin: 5px 0;" ></div>
                    </div>

                </div>
                <span class="dateview" v-text="key"></span>
            </ul>

        </div>
    </div>
    <footer>
        <p>浙ICP备18024460号-1</p>
    </footer>
</div>
<script src="/assets/show/js/silder.js"></script>
<script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/vue/vue.min.js"></script>
<script type="text/javascript" src="/assets/vue/vue-resource.js"></script>
<script type="text/javascript" src="/assets/elementUI/index.js"></script>
<script type='text/javascript' th:inline="javascript">
    console.log([[${allArticle}]]);
    new Vue({
        el:'#app',
        data:{
            list:{}
        },
        //挂载完后
        mounted : function () {
            //
            var array=[[${allArticle}]];
            var json={};
            var isDif='';
            var curArray=[];
            for(var i=0;i<array.length;i++){

                var curYear=array[i].createTime.trim().substring(0,4);
                if(isDif==''||isDif.trim()==array[i].createTime.trim().substring(0,4)){
                    //第一次或者上一次和本次年相同
                    curArray.unshift(array[i]);
                    isDif=" "+array[i].createTime.trim().substring(0,4);


                }else{
                    //在json中添加上一年的json数组
                    json[isDif]=curArray;
                    curArray=[];
                    curArray.unshift(array[i]);
                    isDif=" "+array[i].createTime.trim().substring(0,4);
                }
            }
            //添加最后一年
            json[isDif]=curArray;
            this.list=json;
        },
        methods:{

        }
    });
</script>
</body>
</html>