<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="登陆" />
<title>牵狗狗逛街</title>

<link rel="stylesheet"  th:href="@{/assets/login/css/jq22.css}"  />
</head>
<body>
<!-- begin -->
<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk="/>
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label fa fa-user"></label>
                            <input id="userName" type="text" name="email" placeholder="User" tabindex="1" autofocus="autofocus" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="Password" tabindex="2" class="form-control input-medium" />
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="#" tabindex="5" class="btn pull-left btn-link text-muted">Forgot password?</a><a href="#" tabindex="6" class="btn btn-link text-muted">Sign Up</a>
                    <button type="button" id="doLogin" tabindex="4" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>


    <script th:src="@{/assets/login/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/jquery/jquery.tips.js}"></script>
    <script>
    $(function() {


        $('#login #password').focus(function() {
            $('#owl-login').addClass('password');
        }).blur(function() {
            $('#owl-login').removeClass('password');
        });

        //简单登录操作
        $("#doLogin").click(function (e) {
            $("#userName").tips({
                side : 1,
                msg : '正在登录 , 请稍后 ...',
                bg : '#68B500',
                time : 3
            });
            $.ajax({
                type : "POST",
                url : "/manage/toLogin",
                data : {
                    "username" : $("#userName").val(),
                    "password" : $("#password").val()
                },
                success : function(data) {
                    var result= eval("("+data+")");
                    if(result.result==true){
                        window.location.href='/manage/toMain';
                    }else{
                        //错误提示
                        $("#userName").tips({
                            side : 1,
                            msg : result.message,
                            bg : '#FF5080',
                            time : 3
                        });
                        return;
                    }
//                    window.location.href='/manage/toMain';
                }
            });
        });
    });

    </script>
</div>
<!-- end -->
</body>
</html>