<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.modules.manage.dao.ArticleMapper">
    <resultMap id="articleTypeBean" type="com.three.modules.manage.domain.Article" >
        <id column="id" property="id"/>
        <result column="browse_count" property="browseCount"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <association property="type" javaType="com.three.modules.manage.domain.Type">
            <id column="tId" property="id"/>
            <result column="tName" property="name" />
        </association>
    </resultMap>

    <resultMap id="articleEditBean" type="com.three.modules.manage.domain.Article" >
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
        <result column="is_publicity" property="isPublicity"/>
        <result column="is_discuss" property="isDiscuss"/>
        <result column="accessory" property="accessory"/>
        <association property="type" javaType="com.three.modules.manage.domain.Type">
            <id column="tId" property="id"/>
        </association>
        <association property="bgImages" javaType="com.three.modules.manage.domain.BgImages">
            <id column="bId" property="id" />
            <result column="bUrl" property="url" />
        </association>
        <collection property="labels" ofType="com.three.modules.manage.domain.Label">
            <id column="lId" property="id" />
        </collection>

    </resultMap>
    <!--基本全-->
    <resultMap id="articleAllBean" type="com.three.modules.manage.domain.Article">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
        <result column="is_publicity" property="isPublicity"/>
        <result column="is_discuss" property="isDiscuss"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="browse_Count" property="browseCount"/>
        <association property="author" javaType="com.three.modules.sys.domain.SysUser">
            <id column="uId" property="id" />
            <result column="uName" property="username" />
        </association>
        <association property="type" javaType="com.three.modules.manage.domain.Type">
            <id column="tId" property="id"/>
            <result column="tName" property="name" />
        </association>
        <association property="bgImages" javaType="com.three.modules.manage.domain.BgImages">
            <id column="bId" property="id" />
            <result column="bUrl" property="url" />
            <result column="bName" property="name" />
        </association>
        <collection property="labels" ofType="com.three.modules.manage.domain.Label">
            <id column="lId" property="id" />
            <result column="lName" property="name" />
        </collection>
    </resultMap>


    <select id="queryAmount" resultType="_int">
        select count(*) from t_article;
    </select>
    <select id="queryLast5Article" resultType="article">
        select id,title,create_time from t_article order by create_time desc limit 0,5;
    </select>

    <insert id="addReturnId" useGeneratedKeys="true" keyProperty="id" parameterType="article">
        insert into t_article(title,content,bg_images_id,type_id,author_id,status,is_publicity,is_discuss,accessory)
          values(
              #{title,jdbcType=VARCHAR},
              #{content,jdbcType=VARCHAR},
              #{bgImages.id,jdbcType=INTEGER},
              #{type.id,jdbcType=INTEGER},
              #{author.id,jdbcType=INTEGER},
              #{status,jdbcType=BIT},
              #{isPublicity,jdbcType=BIT},
              #{isDiscuss,jdbcType=BIT},
              #{accessory,jdbcType=VARCHAR}
          )
    </insert>

    <!--在文章-标签表中插入数据-->
    <insert id="addMiddle" parameterType="java.util.List">
        insert into t_article_label(article_id,label_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.article_id},#{item.label_id})
        </foreach>
    </insert>

    <select id="queryAll" resultMap="articleTypeBean">
        select
            a.*,
            t.id as tId,
            t.name as tName
        from t_article a
            left join t_type t on a.type_id=t.id
    </select>
    
    <select id="queryById" resultMap="articleEditBean" parameterType="java.lang.Integer">
        select
            a.id,
            a.title,
            a.content,
            a.is_discuss,
            a.is_publicity,
            t.id as tId,
            l.id as lID,
            b.id as bID,
            b.url as bUrl,
            a.accessory as accessory
        from t_article a
            inner join t_user u on a.author_id=u.id
            left join t_bgimages b on a.bg_images_id=b.id
            inner join t_type t on a.type_id=t.id
            left join t_article_label al on a.id=al.article_id
            left join t_label l on al.label_id=l.id
        where a.id=#{articleId}
    </select>

    <update id="edit" parameterType="article">
        update t_article
          <set>
              <if test="title !=null and title != ''">
                  title=#{title,jdbcType=VARCHAR},
              </if>
              <if test="content !=null and content != ''">
                  content=#{content,jdbcType=VARCHAR},
              </if>
                  is_discuss=#{isDiscuss,jdbcType=BOOLEAN},
                  is_publicity=#{isPublicity,jdbcType=BOOLEAN},
                  status=#{status,jdbcType=BOOLEAN},
              <if test="type.id !=null and type.id != ''">
                  type_id=#{type.id,jdbcType=INTEGER},
              </if>

                  bg_images_id=#{bgImages.id,jdbcType=INTEGER},
                  accessory=#{accessory.id,jdbcType=INTEGER},
          </set>
        where id=#{id}
    </update>

    <delete id="deleteMiddle" parameterType="integer">
        delete from t_article_label where article_id=#{id}
    </delete>

    <select id="queryLast5ArticleIncludeImageType" resultMap="articleAllBean">
        select
            a.*,t.id as tId,t.name as tName,b.id as bId,b.url as bUrl
        from t_article a
            left join t_type t on a.type_id= t.id
            left join t_bgimages b on a.bg_images_id = b.id order by a.create_time desc limit 0,5
    </select>

    <select id="queryAllIncludeType" resultMap="articleAllBean">
        select a.*,t.id as tId,t.name as tName from t_article a left join t_type t on a.type_id=t.id order by a.create_time desc
    </select>

    <select id="queryAllById" resultMap="articleAllBean" parameterType="integer">
        select
            a.*,
            b.url as bUrl,
            t.name as tName,
            l.name as lName
        from t_article a inner join t_user u on a.author_id=u.id
            left join t_type t on a.type_id = t.id
            left join t_bgimages b on a.bg_images_id=b.id
            left join t_article_label al on a.id=al.article_id
            left join t_label l on al.label_id=l.id
        where a.id=#{articleId}
    </select>

    <!--访问量最高的5篇-->
    <select id="queryMostArticles5" resultType="article">
      select id,title,create_time from t_article order by  browse_count desc limit 0,5
    </select>

    <!--获取上下2篇-->
    <select id="queryNearBy" resultType="article">
        SELECT
          id,title
        FROM t_article
        WHERE ID IN (
            SELECT CASE WHEN SIGN(ID - #{id}) &gt; 0
              THEN MIN(ID) WHEN SIGN(ID- #{id}) &lt; 0 THEN MAX(ID) END AS ID
            FROM t_article WHERE ID &lt;&gt; #{id}
        GROUP BY SIGN(ID - #{id}) ORDER BY SIGN(ID - #{id})) ORDER BY ID ASC
    </select>

    <update id="addHits" parameterType="integer">
        update t_article set browse_count=browse_count+1 where id=#{id}
    </update>

    <delete id="deleteById" parameterType="integer">
        delete from t_article where id=#{articleId}
    </delete>
</mapper>