<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.common.dao.LogMapper">

    <insert id="addLog" parameterType="com.three.common.domain.SysLog">
          insert into t_log(operator,action,ip) values(#{operator},#{action},#{ip,jdbcType=VARCHAR})
    </insert>
</mapper>