<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.dao.LogTestMapper">

    <select id="findById" resultType="com.three.domain.Friends" parameterType="java.lang.Integer">
        select * from t_friends where id=#{id}
    </select>

    <select id="findAll" resultType="com.three.domain.Friends">
        select * from t_friends
    </select>
</mapper>